@font-face {
  font-family: 'MuseoModerno';
	src: url('../fonts/MuseoModerno/MuseoModerno-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Enter-Sansman';
	src: url('../fonts/Enter-Sansman/entsani.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'MuseoModerno';
	font-family: 'MuseoModerno';
	font-weight: 200;
	display: block;
	color: #010101;
	letter-spacing: 1px;
}

.label {
	color: #010101;
	font-family: 'Enter-Sansman' ;
}

.title h1 {
	color: #010101;
}

q:before, q:after{ content:'"'; }

small { font-family: 'MuseoModerno-Regular'; font-size: 90%; }

.center{ text-align: center; }

a { font-family: 'MuseoModerno-Regular'; color: blue; }

a:hover {
	color: blue;
	border-bottom: none;
	transition: all 0.3s;
}

a {
 outline: 0;
}

.bold {
	font-family: 'MuseoModerno-ExtraBold';
	font-weight: 900;
}

.bordered {
	border-bottom: 1px solid transparent;
}

p { 
  font-family: 'MuseoModerno';
	font-size: 1.2rem;
	color: #010101;
	font-weight: 600;
	@include respond-to(small) { font-size: 1rem; }
	
	b {
  		font-family: 'MuseoModerno-Bold';
	}
}

.ol {
	li {
		color:#8e8e8e;
	}
	color:#008ba3;
}

footer {
	p {
		color:#010101;
	}
}